.tableData {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tdData, .thData {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.trData:nth-child(even) {
    background-color: #dddddd;
}

.createButton {
    background-color:#44c767;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:8px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.createButton:hover {
    background-color:#5cbf2a;
}
.createButton:active {
    position:relative;
    top:1px;
}


